# Sets & Dictionaries

In [3]:
# Sets is an unordered pair of collection of data
# they are usuually seperated by comma(<) and curly brackets{}

s = {1,2,3,4,2,2,4}
s #set doesnot take duplicate values

{1, 2, 3, 4}

In [4]:
#if we want to convert an item to set we will use
# x = set( ("") )

In [10]:
# if we want to add any item into set we can use x.add("")
x= {"apple", "banana", "cherry"}
x.add("orange")

print(x)

{'banana', 'apple', 'orange', 'cherry'}

In [13]:
# if we want to add one set top another we can use x.update(y) here we are adding y into x

x = {"apple", "banana", "cherry"}
y = {"pineapple", "mango", "papaya"}
x.update(y)
print(x) # NOTE : here update in set can be used to add any iterable item(list, dictionaries,)

{'banana', 'apple', 'pineapple', 'papaya', 'mango', 'cherry'}

In [19]:
# IF we want to remove , discard, pop an item from the set we can use the following
# NOTE : if the item in the set does not exist only the discard will not give us an error, but if an item is not present in 
# the set and if we use remove function it will give us an error
x = {"jammu", "delhi", "UP"}
x.remove("delhi")
print(x)

#x.remove("HP")
#print(x) # here x.remove("HP") gave us an error because it is not present in the set

{'jammu', 'UP'}

In [25]:
x.discard("UP")
print(x)

x.discard("HP")
print(x) # look x.discard("HP") does not give us an error though HP is not preset in the set

{'jammu'}
{'jammu'}

In [33]:
# Now to add two sets or we can say union of two sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

#NOTE : union will not take any value which is repeated or in simple words duplicate values

{'b', 1, 2, 3, 'c', 'a'}

In [2]:
# IF we want to finf the common values between two sets we will use x.intersection(y)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [37]:
#len(): Returns the length of the set.
# isdisjoint(): Returns True if the two sets have no elements in common.
#● issubset(): Returns True if the first set is a subset of the second set.
#● issuperset(): Returns True if the first set is a superset of the second set.
#● union(): Returns a set that contains all the elements of the two sets.
#● intersection(): Returns a set that contains all the elements that are common to
#the two sets.
#● difference(): Returns a set that contains all the elements that are in the first set
#but not in the second set.
#● symmetric_difference(): Returns a set that contains all the elements that are
# in either the first set or the second set but not in both

# DICTIONARIES

In [41]:
# Dictionaries are mutable , means we can change values 
# they are represented by {x:y} where x is a key and y is a value pair or dict()

In [40]:
thisdict = {"brand": "Ford","model": "Mustang",  "year": 1964}
print(thisdict["brand"])

Ford

In [53]:
x = dict(brand= "Ford",model= "Mustang",  year=1964)
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [54]:
# if we want to get the value of an key we will use x.get() or x =dict("keyname")

In [71]:
# Print all KEY NAMES in the dictionary, one by one:
x = {"name" : "abhinav", "caste" : "sharma", "state": "jammu"}
for x in x:
  print(x) # it will print all the key names

name
caste
state