# TUPLES

In [17]:
# Tupes are immutable means no new value can be assigned to them once they are created
# They are written as comma-seprated(,) elements with parenthesis()
# for eg x = ("a", 2 ,'bro')
x= 1,2,3,4
print(x) #since they are seprated with comma, so they are tuples

y = (1,)
print(y) # here 1 is also a tuple because it has comma with parenthesis

z = 1,
print(z) #look here 1 is also a tuple because it has a comma

a = 1 or (1)
print(a) # here it is not a tuple though it gave us the output but if we look into the class of x, y , z & a. a is not tuple

print(type(a))
print(type(x))
print(type(y))
print(type(z)) # do i need to explain?

(1, 2, 3, 4)
(1,)
(1,)
1
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [18]:
# Indexing & slicing is same as strings

# Concatenating Tuples

In [26]:
# adding two tuples

tup1 = ("Nomaskor, brothor ")
tup2 = ("kaise ho, bhai")


tup3 = tup1 + tup2
tup3

'Nomaskor, brothor kaise ho, bhai'

# sum() , min(), max()

In [28]:
t = (2, 4, 3, 5, 7)
print(sum(t))
print(min(t))
print(max(t))

21
2
7

In [34]:
# SORTING A TUPLE

t = ('hi', 'bhai', 'kaise', 'hi')
z= (1,2,4,3,5,6,7,2)

x = sorted(t)
y = sorted(z)

print(x)
print(y)

['bhai', 'hi', 'hi', 'kaise']
[1, 2, 2, 3, 4, 5, 6, 7]

In [36]:
# if we have to add an item into the tuple, since tuple is immutable , we cannot add directly to tuple so first we weill 
# convert it into list using list(X) then we will perform our action then change it back to tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [37]:
# PACKING AND UNPACKING

t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

1