# Lists

In [1]:
# list is an ordered sequance of mined data types
# lists are written as comma (,) seperated woth square brackets []

# just like tuples which use parenthesis , lists will use square brackets[]

In [2]:
# Membership lists      (Boolean value)

# in means true / false

# not in means true/ false 
 # used to check weather element is present in list or not

In [3]:
#List concatenation

# it merges two lists using "+" operator

L = ["Chemistry", " bio", [1994,2000]]
new_l = L + [5,8]

new_l

['Chemistry', ' bio', [1994, 2000], 5, 8]

In [5]:
# if we want to replace bio with phy
L[1] = "phy"

L

['Chemistry', 'phy', [1994, 2000]]

In [24]:
# now comes extend and append. # we will understand append and extend from the following exapmle
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5,8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [1]:
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5,8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [6]:
# To change an item
var = ["Abhinav", 'sharma', 'aditya', 'sharma']
#var[1] = "Aditya" or we can also use 
var[1:3] = ["Aditya"]
print(var)

['Abhinav', 'Aditya', 'sharma']

In [14]:
#To insert a new value
var.insert(3,"blr")
print(var)

['Abhinav', 'blr', 'blr', 'blr', 'blr', 'blr', 'Aditya', 'blr', 'blr', 'sharma']

# Difference between Sorting and Sort

In [15]:
# SORT

A = ["Orange", "Strawberry", "Mango"]
B = A.sort()

print(A)
print(B)

#To sort a list decendingly we will use
A.sort(reverse = True)
print(A)

['Mango', 'Orange', 'Strawberry']
None
['Strawberry', 'Orange', 'Mango']

In [27]:
# SORTED

A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']